@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
.flex-all-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn{
    height: 22px;
    margin: 20px 10px;
    width: 62px;
    padding: 0px 12px 1px 7px;
    color: white;
    background-color: var(--main-bg-color);
    border: 2px solid rgb(217, 214, 227);
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 900;
}
.slider img{
    display: flex;
    align-items: center;
    width: 700px;
    margin: 12px auto;
}